{% extends "base.html" %}

{% block title %}従業員情報の更新{% endblock %}

{% block content %}
<h1>従業員情報の更新</h1>

<form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.full_name.label }}
        {{ form.full_name() }}
    </div>

    <div>
        {{ form.email.label }}
        {{ form.email() }}
    </div>

    <div>
        {{ form.store_code.label }}
        {{ form.store_code() }}
    </div>

    <div>
        {{ form.department.label }}
        {{ form.department() }}
    </div>

    <div>
        {{ form.position.label }}
        {{ form.position() }}
    </div>

    {{ form.submit() }}
</form>
{% endblock %}