<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>パスワード変更</title>
    </head>
    <body>
        <div class="container">
            <h1>パスワード変更</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form method="post">
                <div>
                    <label>新しいパスワード</label>
                    <input type="password" name="new_password">
                </div>
                <div>
                    <label>確認用パスワード</label>
                    <input type="password" name="confirm_password">
                </div>

                <button type="submit">変更</button>
            </form>
        </div>
    </body>
</html>